![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown
titulo = ""

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown
tema = ""

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [1]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = "Qué grupo o artista es el que más éxitos ha tenido desde 1957"

In [2]:
# Escribe más hipótesis si las hubiera en Markdown
hipotesis_2 = "Que grupo o artista llevan más años en las listas más tiempo"
hipotesis_3 = "Que grupo o artista llevan más exitos en los ultimos 10 años"
hipotesis_4 = "Qué grupo o artista han sido 1 hit wonder"
# hipotesis_5 = ""
# ...

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [3]:
import pandas as pd
# guarda en variables los datasets y su fuente
df = pd.read_csv("./Billboard_Hot_100/data/hot_100.csv")
fuente_1 = ""
# df_2 = pd.DataFrame()
# fuente_2 = ""
# df_3 = pd.DataFrame()
# fuente_3 = ""
# df_4 = pd.DataFrame()
# fuente_4 = ""
# df_5 = pd.DataFrame()
# fuente_5 = ""
# ...

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [4]:
# Primer dataset
df.head()

,chart_position,chart_date,song,performer,song_id,instance,time_on_chart,consecutive_weeks,previous_week,peak_position,worst_position,chart_debut,chart_url
0,84,1990-05-05,"""B"" Girls",Young And Restless,"""B"" GirlsYoung And Restless",1.0,1,NaN,NaN,84,84,1990-05-05,https://www.billboard.com/charts/hot-100/1990-...
1,78,1990-05-12,"""B"" Girls",Young And Restless,"""B"" GirlsYoung And Restless",1.0,2,1.0,84.0,78,84,1990-05-05,https://www.billboard.com/charts/hot-100/1990-...
2,68,1990-05-19,"""B"" Girls",Young And Restless,"""B"" GirlsYoung And Restless",1.0,3,2.0,78.0,68,84,1990-05-05,https://www.billboard.com/charts/hot-100/1990-...
3,60,1990-05-26,"""B"" Girls",Young And Restless,"""B"" GirlsYoung And Restless",1.0,4,3.0,68.0,60,84,1990-05-05,https://www.billboard.com/charts/hot-100/1990-...
4,58,1990-06-02,"""B"" Girls",Young And Restless,"""B"" GirlsYoung And Restless",1.0,5,4.0,60.0,58,84,1990-05-05,https://www.billboard.com/charts/hot-100/1990-...

In [ ]:
# Siguiente dataset...
# df_2.head()

In [5]:
df["chart_date_as_date"] = pd.to_datetime(df["chart_date"])
df["chart_debut_as_date"] = pd.to_datetime(df["chart_debut"])
df["time_on_chart_as_date"] = df["chart_date_as_date"] - df["chart_debut_as_date"]

In [8]:

df.chart_url = '"' + df.chart_url + '"'

In [9]:
df.chart_url

0         "https://www.billboard.com/charts/hot-100/1990...
1         "https://www.billboard.com/charts/hot-100/1990...
2         "https://www.billboard.com/charts/hot-100/1990...
3         "https://www.billboard.com/charts/hot-100/1990...
4         "https://www.billboard.com/charts/hot-100/1990...
                                ...
338390    "https://www.billboard.com/charts/hot-100/2001...
338391    "https://www.billboard.com/charts/hot-100/1958...
338392    "https://www.billboard.com/charts/hot-100/1958...
338393    "https://www.billboard.com/charts/hot-100/1958...
338394    "https://www.billboard.com/charts/hot-100/1959...
Name: chart_url, Length: 338395, dtype: object